
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.heart-icon {
  position: absolute;
  top: 2.5rem;
  right: 2rem;
  display: inline-block;
  margin-right: 10px;

}



.enigme-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #2c3e50;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
}



.enigme-label {
  font-size: 1.1rem;
  color: #74b9ff;
  margin-bottom: 0.5rem;
}

.enigme-text {
  font-size: 1.3rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 1rem;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
}

.enigme-reponse {
  font-size: 1.1rem;
  color: #00cec9;
  margin-bottom: 0.5rem;
}

.enigme-reponse span {
  font-weight: 600;
  color: #55efc4;
}

.enigme-date {
  font-size: 0.95rem;
  color: #b2bec3;
  font-style: italic;
}

.enigme-message {
  text-align: center;
  font-size: 1.2rem;
  color: #dfe6e9;
  margin-top: 3rem;
}


.favoris {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.favoris ion-icon {
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease;
}
.favoris ion-icon:hover {
  color: #d63031;
}


